<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <title><%= data.nadpis %></title>
    <link rel="stylesheet" href="/css/detail-test.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <header id="SpsLogo">
        <a href="../../"><img id="logo"  src="/imgLogo/logo-spstrutnov-4.svg" alt="logo"></a>
    </header>
    <div id="container">
        <header id="hlavicka">
            <div>
                <h1 id="nadpis"><%= data.nadpis %></h1>
                <p id="datum"><%= data.datum %></p>
            </div>
        </header>
        <img id="hlavni-obrazek" src="/img/<%= data.id %>/<%= data.obrazky[0] %>" alt="Hlavní obrázek">
        <div id="kontakt">
            <p id="autori">Autoři: <%= data.autor %></p>
            <div id="tagy">
                <p id="tags" style="    margin-bottom: 0px; margin-top: 0;">Tagy: <% for (let i in data.tagy) { %>
                    <%= data.tagy[i] %>
                    <% } %></p>
            </div>
        </div>
        <main id="main">
            <div>
                <h2 id="popis-div">Popis</h2>
                <p id="popis-p"><%= data.popis_full %></p>
            </div>
            <div id="galerie-obrazku">
                <h2 id="galerii">Galerie</h2>
                <% for (let i in data.obrazky) { %>
                <img id="obrazekgalerie" src="/img/<%= data.id %>/<%= data.obrazky[i] %>" alt="Obrázky">
                <img id="obrazekgalerie" src="/img/<%= data.id %>/<%= data.obrazky[i] %>" alt="Obrázky">
                <img id="obrazekgalerie" src="/img/<%= data.id %>/<%= data.obrazky[i] %>" alt="Obrázky">
                <% } %>
            </div>
            <div>
                <h1 id="recenzce">Uživatelská recenze</h1>
                <br>
                <button id="tlacik1" onclick="SendInfo('like')" style="font-size:50px"><i class="fa fa-thumbs-up"></i></button>
                <button id="tlacik2" onclick="SendInfo('dislike')" style="font-size:50px"><i class="fa fa-thumbs-down"></i></button>
                <% var procenta = (data.like/(data.like+data.dislike))*100 %>
                <%= procenta.toFixed(2) + " %" %>
            </div>
        </main>
    </div>

    <script>
        function SendInfo(hodnoceni) {

                fetch('/hodnoceni', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: <%= data.id %>,
                    hodnoceni: hodnoceni
                })
            }).then(response => response.json()).then(data => {
                console.log(data.msg.status);
                switch(data.msg.status) {
                   case 1: {
                        alert("Hlas odeslán! Stiskněte prosím F5");
                        break;
                   }
                   case 2: {
                        alert("Již jste hlasoval!");
                        break;
                   }
                   default: {
                       console.log("Halo");
                       break;
                   }
                }
            })
        }
    </script>
</body>
<footer id="paticka">
    <p id="copyright">2021 &copy;</p>
</footer>

</html>