<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/global_tagy.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stejne.css">
    <title>Document</title>
</head>

<body>
    <div class="custom_container">
        <script>
            var tagicky = '<%- JSON.stringify(data.projekty) %>';
            var vysledek = JSON.parse(tagicky);
            var zobrazovane_projekty = [];
        </script>
        <%- include("../stejne/hlavicka.ejs") -%>
            <div class="tagy_container">
                <% var tagy=data.tagy %>
                <% var zobrazovane_projekty=data.projekty %>
                        <%= tagy.pocet_projektu %>
                            <% for(var i=0; i < Object.keys(tagy).length; i++){ %>
                                <div class="dropdown">
                                    <button class="dropbtn">
                                        <%= Object.keys(tagy)[i] %>
                                    </button>
                                    <div class="containerSTlacitky">
                                        <% for(let k=0;k< tagy[Object.keys(tagy)[i]].length;k++) { %>
                                            <input class="random" value="<%=tagy[Object.keys(tagy)[i]][k]%>"
                                                type="checkbox"><label for="">
                                                <%= tagy[Object.keys(tagy)[i]][k]%> %>
                                            </label><br>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                                    <button onclick="Filter_update()" class="filter_button">Potvrdit filtry</button>
            </div>
            <main>
                <div class="projekty d-flex justify-content-center row col-12 m-0 mt-5 m-0-a">

                    <% for(let i in zobrazovane_projekty){ %>
                        <div class="col-lg-5 col-sm-12 m-1 p-0 projekt_container row"
                            data-tagy="<%= data.projekty[i].tagy %>">
                            <div class="col-md-6 col-sm-12  projekt_img_container p-0"><img class="p-0  "
                                    src="img/<%= i %>/<%= data.projekty[i].obrazky[0] %>" frameborder="0" />
                            </div>
                            <div class="col-md-6 col-sm-12 row-sm">
                                <h3 class="d-flex justify-content-center">
                                    <%= zobrazovane_projekty[i].nadpis %>
                                </h3>
                                <p  style="font-size: .5em; word-break: break-all;">
                                    <span class="d-lg-block d-sm-none"><%= zobrazovane_projekty[i].popis_short %></span>
                                        <br><a href="/projekty/detail/<%= i %>">Zobrazit více</a>
                                </p>
                            </div>

                        </div>
                    <% } %>
                </div>
            </main>
        <%- include("../stejne/paticka.ejs") -%>
    </div>

    <script>
        function Najdi_index(pole, hodnota)
        {
            for (let i = 0; i < pole.length; i++) {
                 if(pole[i]==hodnota)
                 {
                     return i;
                 }
            }
        }
        let zaskrtle_tagy = [];
        //Aktualizace zaskrtlych tagu
        //Prochazime vsechna dropdown menu
        for (let i = 0; i < document.querySelectorAll(".containerSTlacitky").length; i++) 
        {
             //Prochazime vsechny checkboxy v dropdown menu
            for (let l = 0; l < document.querySelectorAll(".containerSTlacitky")[i].querySelectorAll("input[type=checkbox]").length; l++) 
            {
                let checkbox = document.querySelectorAll(".containerSTlacitky")[i].querySelectorAll("input[type=checkbox]")[l];
                checkbox.addEventListener("click",()=>{
                 //Pokud je checkbox zasrtly a checkbox neni mezi zaskrtlymi tagy 
                if (checkbox.checked == true && zaskrtle_tagy.includes(checkbox.value) == false)
                    zaskrtle_tagy.push(checkbox.value);
                    //Pokud je checkbox nezasrtly a checkbox je mezi zaskrtlymi tagy
                else if (checkbox.checked == false && zaskrtle_tagy.includes(checkbox.value) == true) {
                    let i = Najdi_index(zaskrtle_tagy,checkbox.value);
                    zaskrtle_tagy.splice(i,1);
                }
            });
            }
        }

        //Po kliknuti na filtrovaci tlacitko
        function Filter_update() 
        {
            if (zaskrtle_tagy.length == 0)
            {
                let projekty = document.querySelectorAll('.projekt_container');
                for (let p = 0; p < projekty.length; p++) {
                    projekty[p].setAttribute("style", "display:visible;");
                }
                return;
            }
            //Ziskani vsech projektu
            let projekty = document.querySelectorAll('.projekt_container');
            for (let p = 0; p < projekty.length; p++) {
                //Schovani projektu
                projekty[p].setAttribute("style", "display:none;");
                //Ziskani vsech tagu u jednoho projetu 
                let tagy_projektu = projekty[p].getAttribute("data-tagy").split(',');
                //Pro vsechny zaskrtle tagy...
                for (let i = 0; i < zaskrtle_tagy.length; i++) 
                {              
                    //Pro vsechny tagy jednoho projektu...
                    for (let k = 0; k < tagy_projektu.length; k++) {
                        
                        //Kontrola zda mezi zaskrtlymi tagy jsou tagy projektu
                        if (zaskrtle_tagy[i] == tagy_projektu[k] && tagy_projektu[k] != "") {
                            projekty[p].setAttribute("style", "display:visible;");
                            break;
                        }
                    }               
                }
            }

        }
    </script>
</body>

</html>
