<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="detail-test.css">
</head>
<body>
<<<<<<< HEAD
    <div id="container">
        <header>
            <div>
                <h1>Název projektu</h1>
                <p>Datum</p>
            </div>
        </header>
        <main>
            <div>
                <p>Tagy: </p>
                <img id="obrazek" src="" alt="Hlavní obrázek">
            </div>
            <div>
                <p>Autoři: </p>
                <p>Mail: </p>
            </div>
            <div>
                <h2>Popis</h2>
                <p>Povídání o projektu</p>
            </div>
            <div>
                <h2>Galerie</h2>
                <img src="" alt="Obrázky">
            </div>
        </main>
        <footer>
            <div id="stranky">
                <p>Web</p>
                <p>GitHub</p>
            </div>
            <p>2021 &copy;</p>
        </footer>
    </div>
=======
    <header>
        <div>
            <h1><%= data.nadpis %></h1>
            <p>Datum: </p>
        </div>
    </header>
    <main>
        <div>
            <p>Tagy:</p>
            <% for (let i in data.tagy) { %>
                <%= data.tagy[i] %>
            <% } %>
            <img id="obrazek "src="" alt="Hlavní obrázek">
        </div>
        <div>
            <p>Autoři: </p><p><%= Object.entries(data.autor) %></p>
            <p>Mail: </p><p><%= data.autor %></p>
        </div>
        <div>
            <h2>Popis</h2>
            <p><%= data.popis_full %></p>
        </div>
        <div>
            <h2>Galerie</h2>
            <img src="" alt="Obrázky">
        </div>
    </main>
        <p>2021 &copy; </p>
    </footer>
>>>>>>> detail_petru
</body>
</html>