<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stejne.css">
    <title>Document</title>
</head>

<body>
    <div class="custom_container">
        <script src="scripts\script_tagy.js"></script>
        <script>
           
            var tagicky = '<%- JSON.stringify(data.projekty) %>';
            var vysledek = JSON.parse(tagicky);
            var zobrazovane_projekty = [];
 
    
        
        </script>
        <%- include("stejne/hlavicka.ejs") -%>
            <div class="tagy_container">
                <% var tagy=data.tagy %>
                <% var zobrazovane_projekty=data.projekty %>
                    <%= tagy.pocet_projektu %>
                        <% for(var i=0; i < Object.keys(tagy).length; i++){ %>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <%= Object.keys(tagy)[i] %>
                                </button>
                                <div class="containerSTlacitky">
                                    <% for(let k=0;k< tagy[Object.keys(tagy)[i]].length;k++) { %>
                                        <input class="random" value="<%=tagy[Object.keys(tagy)[i]][k]%>"
                                            type="checkbox"><label for="">
                                            <%= tagy[Object.keys(tagy)[i]][k]%> %>
                                        </label><br>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
                            <button onclick="Filter_update()">Potvrdit filtry</button>
            </div>
            <main>
                <div class="projekty row col-12 m-0 mt-5 m-0-a">
                    
                    <% for(let i in zobrazovane_projekty){ %>
                        <div class="col-6 m-0 p-0 projekt_container row" data-tagy="<%= data.projekty[i].tagy %>" >
                            <div class="col-6  projekt_img_container p-0"><img class="p-0  shadow-block"
                                    src="img/<%= i %>/<%= data.projekty[i].obrazky[0] %>" height="350px"
                                    frameborder="0" />
                            </div>
                            <p class="col-6">
                                <%= zobrazovane_projekty[i].popis_short %>
                                    <br><a href="/projekty/detail/<%= i %>">Zobrazit více</a>
                            </p>
                        </div>
                    <% } %>
                </div>
                <button onclick="Test()">Test</button>
            </main>
            <%- include("stejne/paticka.ejs") -%>
    </div>


    <script>  
        let zaskrtle_tagy=[];
        document.querySelectorAll(".containerSTlacitky").forEach(element =>
                document.querySelectorAll("input[type=checkbox]").forEach(checkboxy => checkboxy.addEventListener("change", (event) => {
                    if (checkboxy.checked == true && zaskrtle_tagy.includes(checkboxy.value)==false)
                        zaskrtle_tagy.push(checkboxy.value);
                    if(checkboxy.checked == false && zaskrtle_tagy.includes(checkboxy.value)==true) {
                        zaskrtle_tagy.pop(checkboxy.value);
                    }                       
                }))
        );  
        function Filter_update()
        {
            console.log(zaskrtle_tagy)
            if(zaskrtle_tagy.length == 0)
            {
                let projekty = document.querySelectorAll('.projekt_container');
                for(let p = 0;p<projekty.length;p++)
                {
                    projekty[p].setAttribute("style", "display:visible;");  
                }
                return;
            }
          
                let projekty = document.querySelectorAll('.projekt_container');
                for(let p = 0;p<projekty.length;p++)
                {      
                    projekty[p].setAttribute("style", "display:none;");  
                    let tagy_projektu = projekty[p].getAttribute("data-tagy").split(',');
                    for (let i = 0; i < zaskrtle_tagy.length; i++) 
                    {                
                        for (let k = 0; k < tagy_projektu.length; k++) 
                        {
                            if(zaskrtle_tagy[i] == tagy_projektu[k] && tagy_projektu[k] != "")
                            {
                                projekty[p].setAttribute("style", "display:visible;");
                                break;
                            }
                        }
                    }
                }
            
        }
    </script>
</body>

</html>