<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/stejne.css">
    <link rel="stylesheet" href="styles/global_tagy.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="custom_container">
        <script src="scripts\script_tagy.js"></script>
        <%- include("stejne/hlavicka.ejs") -%>
            <div class="tagy_container">
                <% var tagy=data.tagy %>
                <% var zobrazovane_projekty=[] %>
                    <%= tagy.pocet_projektu %>
                        <% for(var i=0; i < Object.keys(tagy).length; i++){ %>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <%= Object.keys(tagy)[i] %>
                                </button>
                                <div class="containerSTlacitky">
                                    <% for(let k=0;k< tagy[Object.keys(tagy)[i]].length;k++) { %>
                                        <input class="random" value="<%=tagy[Object.keys(tagy)[i]][k]%>"
                                            type="checkbox"><label for="">
                                            <%= tagy[Object.keys(tagy)[i]][k]%> %>
                                        </label><br>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
            </div>
            <main>
                <div class="row col-12 m-0 mt-5 m-0-a">
                    <% for(let i in zobrazovane_projekty){ %>

                        <div class="col-6 m-0 p-0 projekt_container row">
                            <div class="col-6  projekt_img_container p-0"><img class="p-0  shadow-block"
                                    src="img/<%= i %>/<%= data.projekty[i].obrazky[0] %>" height="350px"
                                    frameborder="0" />
                            </div>
                            <p class="col-6">
                                <%= zobrazovane_projekty[i].popis_short %>
                                    <br><a href="/projekty/detail/<%= i %>">Zobrazit více</a>
                            </p>
                        </div>
                        <% } %>
                </div>
                <button onclick="Test()">Test</button>
            </main>
            <%- include("stejne/paticka.ejs") -%>
    </div>


    <script>
        let zaskrtle_tagy=[];
        var tagicky = '<%- JSON.stringify(data.projekty) %>';
        var vysledek = JSON.parse(tagicky);

        document.querySelectorAll(".containerSTlacitky").forEach(element =>
            document.querySelectorAll("input[type=checkbox]").forEach(checkboxy => checkboxy.addEventListener("change", (event) => {
                if (checkboxy.checked == true)
                    zaskrtle_tagy.push(checkboxy.value);
                else {
                    zaskrtle_tagy.pop(checkboxy.value);
                }                       
                for(let projekt in vysledek)
                {
                    for(let tag in vysledek[projekt]["tagy"])
                    {
                        if(zaskrtle_tagy.includes(vysledek[projekt]["tagy"][tag]))
                        {
                           zobrazovane_projekty.push( vysledek[projekt])
                        }
                    }
                }
            }))
        );
    </script>
</body>

</html>